@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   19px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.85 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

$text-color: #362d36 !default; 
$background-color: #f6faf9 !default; 

$grey-color:       #617283 !default; 
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$brand-color: #0973fc !default; 
$brand-color-2: #07097f !default; 

$underline-color: #00cec938 !default; 
$underline-thickness: 15px !default;
$underline-offset: -3px !default;

$selection-color: #caf3bd !default; 
$selection-text-color: #2d3436 !default; 


// $base-font-family: "Spectral", "Georgia", "Palatino Linotype", "Times New Roman", serif !default;
// $base-font-size:   21px !default; // Slightly larger for a luxurious feel
// $base-font-weight: 400 !default;
// $small-font-size:  $base-font-size * 0.875 !default;
// $base-line-height: 1.65 !default; // Ample spacing for long-form text
// $spacing-unit:     33px !default;

// $text-color: #3e2c1c !default; // Deep brown
// $background-color: #faf5ee !default; // Soft parchment

// $grey-color:       #7d7461 !default; // Muted taupe
// $grey-color-light: lighten($grey-color, 40%) !default;
// $grey-color-dark:  darken($grey-color, 25%) !default;

// $brand-color: #d46d5b !default; // Burnt orange
// $brand-color-2: #9b8445 !default; // Sand beige

// $underline-color: #8b5e34 !default; // Rich brown
// $underline-thickness: 15px !default;
// $underline-offset: -3px !default;

// $selection-color: #e9c8a6 !default; // Creamy beige
// $selection-text-color: #3e2c1c !default; // Deep brown


$table-text-align: left !default;

// Width of the content area
$content-width:    1111px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
