---
layout: default
---

<div class="home">

  <h1 class="page-heading"><strong>Hello There!</strong></h1>

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <h2 class='post-list-heading'>{{ page.list_title | default: "Recent Projects" }}</h2>
    <ul>
      {%- for post in site.projects limit: 5 -%}
      <li>
        <h3>
          <a class='post-link'  href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3> 
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
